
<html>
<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
<body>
    <div class="card" style="width:800px;margin: 0 auto;float: none;margin-bottom: 10px;"> 
        <div class="card-body">
                <a href="/"><b>HOME</b></a>
		<a href="/pms/dg_file" style="float: right;" >dgjava</a>

            <div class="card bg-light">
                <div class="container" style="text-align: center">
<h2 style="background-color: LightGray;">SET PMS SERVER IP</h2><br>
<form action="{% url 'script' %}" method="POST">
    <h6><font color="purple">Current IP : {{var}}</font></h6> <br>  
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit">Change</button></p>
 </form>

</div>
</div>
</div>
</div>
<div class="card" style="width:800px;margin: 0 auto;float: none;margin-bottom: 10px;">  
        <div class="card-body">
            <div class="card bg-light">
            
                <div class="container" style="text-align: center">
                        <p>{{msg}} {{errmsg}} {{file_content2}}</p>
                        </div>
                        </div>
                        </div>
                        </div>





</body>
</html>

